<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Document Upload</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <style>
   body {
			background-image: url('https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3979.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
		}
    </style>

</head>
<body>

<header>
<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <a class="navbar-brand" href="#">HR Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="users"> Home </a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="users">Home</a>
  
          
          <form  th:action="@{/admin/logout}" method="post">
            <input type="submit" value="Logout" />
            </form>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
      <ul class="navbar-nav m-auto">
      <form th:action="@{/admin/logout}" method="post">
			<input type="submit" value=" Logout" />
		</form>
    </ul>
            
       
    </ul>
    
  </div>
</nav>
</header><br>

	<div class="container text-center">
		<div>
			<h1>Payslip upload</h1>
		</div>
		
		<form th:action="@{/admin/upload}"	method="post" enctype="multipart/form-data" style="max-width: 600px; margin: 0 auto;">
		<div class="m-3">
		
<td>Select a file:</td>
  <input type="file" id="myfile" name="document" required/><br><br>

			
			<div class="form-group row">
				<td> user ID: </td>
				<div class="col-8">
					<input type="number" name="empid" class="form-control" /><br>
			
			<div>
				<button type="submit" class="btn btn-primary">Submit</button> 
			</div>
		</div>
		</form>
	</div>
</body>
</html>